{% extends "base.html" %}
{% block content %}

<div class="container">
<h2>レーティング</h2>

<table class="table table-condensed table-striped">
<tr>
  <th class="text-center">名前</th>
  <th class="text-center">レーティング</th>
  <th class="text-center">対戦回数</th>
  <th class="text-center">勝利回数</th>
</tr>

{% for name in json.ranking %}
<tr>
  {% set data = json.users[name] %}
  <td class="text-center">{{name}}</td>
  <td class="text-center">{{data.rating | int}}</td>
  <td class="text-center">{{data.battle}}</td>
  <td class="text-center">{{data.win}}</td>
</tr>
{% endfor %}
</table>

<h2>履歴</h2>
<table class="table table-condensed table-striped">
<tr>
  <th class="text-center">ログ</th>
  <th class="text-center">スコア</th>
  <th class="text-center">差分</th>
  <th class="text-center">ビジュアライズ</th>
</tr>

{% for data in json.history %}
<tr>
  <td class="text-center"><a href="/logs/{{data.log}}">{{data.log}}</a></td>
  <td class="text-center">
  {% for ranking in data.ranking %}
  {{ranking[1]}}:{{ranking[0]}} <br>
  {% endfor %}
  </td>

  <td class="text-center">
  {% for ranking in data.ranking %}
  {% set name = ranking[1] %}
  {{name}}:{{data.diff[name]}} <br>
  {% endfor %}
  </td>
  <td class="text-center"><a href="/visualizer/index.html#http://{{request.headers.get('Host')}}/logs/{{data.log}}"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a></td>
</tr>
{% endfor %}
</table>

</div>

{% endblock %}

