<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <title>Diamond Princess</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>

  <nav class="navbar navbar-inverse bg-navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Diamond Princess</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/update">Update</a></li>
          <li><a href="https://twitter.com/ICFPContest2017">@ICFPContest2017</a></li>
          <li><a href="http://events.inf.ed.ac.uk/icfpcontest2017/">ContestSite</a></li>
          <li><a href="http://punter.inf.ed.ac.uk/graph-viewer/">GraphViewer</a></li>
          <li><a href="/visualizer/index.html">JsonViewer</a></li>
          <li><a href="https://diamondprincess.slack.com/messages/G607VNVPG/">Slack</a></li>
          <li><a href="https://github.com/hasipon/icfpc2017">GitHub</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="main-content">
  {% block content %} {% endblock %}
  </div>

  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/moment.min.js"></script>
  <script type="text/javascript" src="/js/moment-timezone.min.js"></script>
  <script type="text/javascript" src="/js/dashboard.js"></script>
  </body>
</html>
