{% extends "base.html" %}
{% block content %}

<div class="container">
  <h2>ログ一覧</h2>
  <table class="table table-condensed table-striped">
  <tr>
    <th class="text-center">ファイル名</th>
    <th class="text-center">ビジュアライズ</th>
  </tr>

  {% for f in logfiles %}
  <tr>
    <td class="text-center"><a href="/logs/{{f}}">ほげ</a></td>
    <td class="text-center"><a href="/visualizer/index.html#http://{{request.headers.get('Host')}}/logs/{{f}}">ほげ</a></td>
  </tr>
  {% endfor %}
</div>

{% endblock %}

