{% extends "base.html" %}
{% block content %}

<div class="container">
  <p id="contest-timer">取得中...</p>
  <h2>リンク集</h2>
  <li><a href="https://github.com/hasipon/icfpc2017">GitHub</a></li>
  <li><a href="https://diamondprincess.slack.com/messages/G607VNVPG/">Slack</a></li>
  <li><a href="/visualizer/index.html">JsonViewer</a></li>
  <li><a href="http://13.114.38.186:8080/">Jenkins</a></li>

  <li><a href="http://events.inf.ed.ac.uk/icfpcontest2017/">ContestSite</a></li>
  <li><a href="http://punter.inf.ed.ac.uk/graph-viewer/">GraphViewer</a></li>
  <li><a href="http://punter.inf.ed.ac.uk/status.html">OfficialStatus</a></li>
  <li><a href="https://twitter.com/ICFPContest2017">@ICFPContest2017</a></li>

  <h2>ログ一覧</h2>
  <table class="table table-condensed table-striped">
  <tr>
    <th class="text-center">ファイル</th>
    <th class="text-center">ビジュアライズ</th>
  </tr>

  {% for f in logfiles %}
  <tr>
    <td class="text-center"><a href="/logs/{{f}}">{{f}}</a></td>
    <td class="text-center"><a href="/visualizer/index.html#http://{{request.headers.get('Host')}}/logs/{{f}}"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a></td>
  </tr>
  {% endfor %}
</div>

{% endblock %}

